@model MaintainPageViewModel

<!DOCTYPE html>
<html>
<!--phần đầu-->
<head>
    <title>Baotri</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/2f8895050a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css' rel='stylesheet' />

    <style>
        .list-group.item3 {
            background-color: #001F54;
            color: #FEFCFB !important;
        }
    </style>
</head>
<body>
        <div class="surgery-schedule">
            <div class="surgery-major">
                <div class="surgery-title">
                    BẢO TRÌ
                </div>
            </div>
        </div>

        <nav class="menu">
            <a href="#thongtin">Danh sách thông tin bảo trì</a>
            <a href="#kehoach">Kế hoạch bảo trì</a>
            <a href="#thongbao">Tiến độ - Thông báo</a>
        </nav>

        <div class="maintain-data">
            <section class="maintain-title" id="thongtin">
                1. Danh sách bảo trì
            </section>
            <div class="maintain-table">
                <div class="surgery-table">
                    <div class="wrap-sreach">
                            <input name="searchString" id="searchInput" class="search" style="width: 21rem;" type="text" placeholder="🔍Điền thông tin">
                            <input type="month" id="filter-date">
                            <button class="searchingpatient" style="color: white;border: 1px #001F54 solid;font-size: 1.1rem; font-family: lato; padding: 0.5rem 1rem;background-color: #1282A2;border-radius: 8px;" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                Tìm Kiếm
                            </button>
                    </div>
                    <form asp-action="Baotri" method="post">
                        <table id="dataTable" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã ID</th>
                                    <th>Tên thiết bị<br></th>
                                    <th>Ngày bảo trì (dự kiến)</th>
                                    <th>Vị trí hiện tại</th>
                                    <th>Tình trạng</th>
                                    <th> Xem thêm </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.MaintainList.PageCount > 0)
                                {
                                    foreach (var item in Model.MaintainList.Items)
                                    {
                                        <tr>
                                            <td id="facility">@(string.IsNullOrEmpty(item.maintain_id) ? "Chưa xếp lịch" : item.maintain_id)</td>
                                            <td id="faccility">@item.device_id</td>
                                            <td id="facility">@item.device_name</td>
                                            <td id="facility">@(item.maintain_date?.ToString("dd/MM/yyyy") ?? "Chưa xếp lịch")</td>
                                            <td id="facility">@item.room_name</td>
                                            <td id="facility">@item.status_name</td>
                                            <td id="facility">
                                                <div class="dropdown">
                                                    <a style="cursor: pointer;" id="detailMaintainLink" onclick="openMaintainDetail('@item.maintain_id')"> <i class="fa-solid fa-circle-info"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                    </table>
                    </form>
@* ------------------------------modal hiển thị chi tiết---------------------------------- *@
                    <div id="maintainDetailModal" class="modal" style="display:none;">
                        <div class="modal-content">
                            <span class="close" id="closeMaintainDetailModal">&times;</span>
                            <h3>Chi tiết thiết bị</h3>
                            <div id="deviceDetailContent">
                                <div class="form-group-title">Thông tin thiết bị</div>
                                <div class="form-group">
                                    <div>
                                        <label for="deviceName">Tên thiết bị:</label>
                                        <input type="text" id="device_name" readonly>
                                    </div>
                                    <div>
                                        <label for="deviceID">Mã ID của thiết bị:</label>
                                        <input type="text" id="device_id" readonly>
                                    </div>
                                </div><br>
                                <div class="form-group-title">Trạng thái bảo trì</div>
                                <div class="form-group">
                                    <div>
                                        <label for="manufacturer">Ngày bảo trì (dự kiến):</label>
                                        <input type="date" id="maintain_date" >
                                    </div>
                                    <div>
                                        <label for="status-id">Cập nhật trạng thái:</label>
                                        <input type="type" id="status_name" readonly>
                                    </div>
                                </div><br>
                                <div class="form-group-title">Thông tin người phụ trách giao nhận</div>
                                <div class="form-group">
                                    <div>
                                        <label for="deliveryPerson">Người phụ trách giao nhận thiết bị:</label>
                                    <input type="text" id="maintain_delivery" readonly>
                                    </div>
                                    <div>
                                        <label for="deliveryPhone">Số điện thoại liên hệ:</label>
                                    <input type="tel" id="maintain_delivery_phone" readonly>
                                    </div>
                                </div><br>
                                <div class="form-group-title">Thông tin người phụ trách bảo trì</div>
                                <div class="form-group">
                                    <div>
                                        <label for="maintenancePerson">Người phụ trách bảo trì:</label>
                                    <input type="text" id="maintain_maintenance" readonly>
                                    </div>
                                    <div>
                                        <label for="maintenancePhone">Số điện thoại liên hệ:</label>
                                    <input type="tel" id="maintain_maintenance_phone" readonly>
                                    </div>
                                </div><br>
                                <button type="button" class="cancel-button" id="cancelMaintainDetailModal">Thoát</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="maintain-data">
            <section class="maintain-title" id="kehoach">
                2. Kế hoạch bảo trì
            </section>
            <div class="repair-request-form" style="max-width: none;" onsubmit="handleSubmit(event)">
                <form asp-action="Baotri_Add" method="post" >
                    <div class="planer-form">
                        <label>Tên thiết bị cần lập lịch:</label>
                        <select name="btrdevicesname" type="text" style="width: 18rem; margin-right: 1rem;">
                        @foreach (var item in Model.MaintainForm.devices_maintain)
                        {
                            <option value="@item.device_id">@item.device_name</option>
                        }
                        </select>

                        <label>Mã series (mã thiết bị)</label>
                    <select name="btrID" type="text" style="width: 18rem; margin-right: 1rem;">

                        @foreach (var item in Model.MaintainForm.devices_maintain)
                        {
                            <option value="@item.device_id">@item.device_id</option>
                        }
                        </select>

                        <label>Ngày bảo trì:</label>
                        <input name="Btrdate" type="date"/>
                    </div>
                    <div class="planer-form">
                        <label>Người phụ trách giao nhận thiết bị:</label>
                        <input name="btrDelivery" type="text" style="margin-right: 1rem;" />

                        <label>
                            <i class="fa-solid fa-phone" style="margin-right: 0.25rem;"></i>
                            Số điện thoại liên hệ:
                        </label>
                        <input type="tel" name="btrDeliPhone" style="margin-left: 0.25rem;" pattern="[0-9]{10}" placeholder="0123456789" />
                    </div>

                    <div class="planer-form">
                        <label>Người phụ trách bảo trì:</label>
                        <input name="btrMaintainance" type="text" style="margin-right: 1rem;"/>

                        <label>
                            <i class="fa-solid fa-phone" style="margin-right: 0.25rem;"></i>
                            Số điện thoại liên hệ:
                        </label>
                        <input type="tel" name="btrMaintainPhone" style="margin-left: 0.25rem;" pattern="[0-9]{10}" placeholder="0123456789" />
                    </div>

                    <div class="planer_form">
                        <label>Đơn giá bảo trì:</label>
                        <input type="number" name="btrFinance" style="margin-left: 0.25rem;" />

                        <label>Hóa đơn_Hợp đồng:</label>
                        <input type="text" name="btrContact"/>
                    </div>
                    <button type="submit">Lưu</button>
                </form>
            </div>
        </div>
        <div class="maintain-data">
            <section class="maintain-title" id="thongbao">
                3. Tiến độ - Thông báo
            </section>
            <form asp-action="Baotri" method="post">
            <div class="maintenance-dashboard">
                <!-- Quá hạn -->
                <div class="status-column overdue">
                    <h3> ⛔ Quá hạn bảo trì</h3>
                    @if (Model.OverdueList != null && Model.OverdueList.Any())
                    {
                        foreach (var item in Model.OverdueList)
                        {
                            <div class="device-item">
                                <strong>@item.device_name</strong>
                                <div>
                                    Hạn: @item.maintain_date?.ToString("dd/MM/yyyy")
                                </div>
                                <div>
                                    Vị trí: @item.room_name
                                </div>
                                
                                <div style="padding-top: 0.5rem;">
                                    <button type="button" id="popup-button" class="reschedule-btn" onclick="openRescheduleModal('@item.device_name')">📅 Lập lại lịch</button>
                                    <button type="button" id="popup-button" onclick="sendReminder('@item.device_name', '@item.maintain_maintenance', '@item.maintain_maintenance_phone')">📩 Gửi nhắc</button>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="device-item">
                            <p>Không có thiết bị quá hạn bảo trì.</p>
                        </div>
                    }
                 </div>
                <!-- Sắp đến hạn -->
                <div class="status-column comingup">
                        <h3>🕒 Sắp đến hạn</h3>
                        @if (Model.ComingupList != null && Model.ComingupList.Any())
                        {
                            foreach (var item in Model.ComingupList)
                            {
                                <div class="device-item">
                                    <strong>@item.device_name</strong>
                                    <div>
                                    Hạn: @item.maintain_date?.ToString("dd/MM/yyyy")
                                    </div>
                                    <div>
                                    Vị trí: @item.room_name
                                    </div>
                                    <div style="padding-top: 0.5rem;">
                                        <button type="button" id="popup-button" class="reschedule-btn" onclick="openRescheduleModal('@item.device_name')">📅 Lập lại lịch</button>
                                    <button type="button" id="popup-button" onclick="sendReminder('@item.device_name', '@item.maintain_maintenance', '@item.maintain_maintenance_phone')">📩 Gửi nhắc</button>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="device-item">
                                <p>Không có thiết bị sắp đến hạn.</p>
                            </div>
                        }
                    </div>
                <!-- Đã hoàn thành hoặc lên lịch -->
                <div class="status-column completed">
                        <h3>✅ Đã bảo trì / Lên lịch</h3>
                        @if (Model.CompletedList != null && Model.CompletedList.Any())
                        {
                            foreach (var item in Model.CompletedList)
                            {
                                <div class="device-item">
                                    <strong>@item.device_name</strong>
                                    <div>
                                    Đã bảo trì ngày: @item.maintain_date?.ToString("dd/MM/yyyy")
                                    </div>
                                    <div>
                                    Người phụ trách: @item.maintain_maintenance
                                    </div>
                                    <div style="padding-top: 0.5rem;">
                                        <button type="button" id="popup-button" class="reschedule-btn" onclick="openRescheduleModal('@item.device_name')">📅 Lập lại lịch</button>
                                        <button type="button" id="popup-button" onclick="sendReminder('@item.device_name', '@item.maintain_maintenance', '@item.maintain_maintenance_phone')">📩 Gửi nhắc</button>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="device-item">
                                <p>Không có thiết bị đã bảo trì hoặc lên lịch.</p>
                            </div>
                        }
                    </div>
                <!--Lập lại lịch bảo trì -->
                <div id="rescheduleModal" class="modal">
                    <div class="modal-content">
                        <div style="text-align: center; font-family: Lato; color: #001F54; font-size: 1.5rem; font-weight: 800; text-transform: uppercase;">
                            Lập lại lịch bảo trì
                        </div><br>
                        <form id="rescheduleForm">
                            <label>Tên thiết bị:</label>
                            <input type="text" id="deviceName" style="margin-right:1rem;" readonly />

                            <label>Ngày bảo trì mới:</label>
                            <input type="date" id="newDate" required /><br /><br />

                            <button id="popup-button-reschedule" type="submit">Cập nhật</button>
                            <button id="popup-button-reschedule" type="button" onclick="closeRescheduleModal()">Huỷ</button>
                        </form>
                    </div>
                </div>
            </div>
            </form>
        </div>

        @*---------vùng scripts------------------------------------------------------------------------- *@

        <script>
            /* modal lập lại lịch */
            function openRescheduleModal(deviceName) {
                document.getElementById("rescheduleModal").style.display = "flex";
                document.getElementById("deviceName").value = deviceName;
            }

            function closeRescheduleModal() {
                document.getElementById("rescheduleModal").style.display = "none";
            }

            document.getElementById("rescheduleForm").addEventListener("submit", function (e) {
                e.preventDefault();
                const newDate = document.getElementById("newDate").value;
                const device = document.getElementById("deviceName").value;

                alert(`Đã cập nhật bảo trì cho thiết bị "${device}" vào ngày ${newDate}`);
                closeRescheduleModal();
            });
        </script>
        <script>
            /* gửi nhắc nhở */
            function sendReminder(device, person, phone) {
                alert(`Đã gửi nhắc cho ${person} (sđt: ${phone}) về thiết bị: ${device}`);
            }

        </script>
        <script>
            // tìm kiếm 
            document.getElementById("searchInput").addEventListener("keyup", function () {
                const filter = this.value.toUpperCase();
                const rows = document.querySelectorAll("#dataTable tbody tr");

                rows.forEach(row => {
                    const cell = row.querySelector("td");
                    if (cell && cell.textContent.toUpperCase().indexOf(filter) > -1) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                });
            });

            //định dạng tiền
            function formatMoney(input) {
                let value = input.value.replace(/\./g, '');

                if (isNaN(value)) {
                    input.value = '';
                    return;
                }
                input.value = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
            }
        </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const floatingDropdown = document.getElementById('floatingDropdown');
            const detailLink = document.getElementById('detailMaintainLink');
            const maintainDetailModal = document.getElementById('maintainDetailModal');
            const closeBtn = document.getElementById('closeMaintainDetailModal');
            const cancelBtn = document.getElementById('cancelMaintainDetailModal');

            // Mở modal khi click vào "Chi tiết thông tin thiết bị"
            detailLink.addEventListener('click', function (event) {
                event.preventDefault(); // Ngăn link chuyển trang
                floatingDropdown.style.display = 'none'; // Ẩn dropdown
                maintainDetailModal.style.display = 'flex';
            });

            // Đóng modal khi nhấn nút đóng (x)
            closeBtn.addEventListener('click', function () {
                maintainDetailModal.style.display = 'none';
            });

            // Đóng modal khi nhấn nút Thoát
            cancelBtn.addEventListener('click', function () {
                maintainDetailModal.style.display = 'none';
            });

            // Đóng modal khi click ra ngoài vùng modal-content
            window.addEventListener('click', function (event) {
                if (event.target === maintainDetailModal) {
                    maintainDetailModal.style.display = 'none';
                }
            });
        });
        function openMaintainDetail(id) {
            fetch(`/Management/Baotri_GetById?id=${id}`)
                .then(response => response.json())
                .then(data => {
                    console.log("DATA:", data);

                    // Gán dữ liệu vào các input trong modal
                    document.getElementById('device_id').value = data.device_id || '';
                    document.getElementById('device_name').value = data.device_name || '';
                    document.getElementById('status_name').value = data.status_name || '';
                    document.getElementById('maintain_delivery').value = data.maintain_delivery || '';
                    document.getElementById('maintain_delivery_phone').value = data.maintain_delivery_phone || '';
                    document.getElementById('maintain_maintenance').value = data.maintain_maintenance || '';
                    document.getElementById('maintain_maintenance_phone').value = data.maintain_maintenance_phone || '';
                    document.getElementById('maintain_date').value = data.maintain_date?.split('T')[0] || '';
                    // Hiển thị modal
                    document.getElementById('maintainDetailModal').style.display = 'flex';
                })
                .catch(error => {
                    console.error("Lỗi lấy dữ liệu thiết bị:", error);
                    alert("Không thể tải dữ liệu thiết bị.");
                });
        }


    </script>


</body>
